.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tokenFieldRow{
  width: 440px;
  margin: 0 auto;
  background-color:white;
  color:rgb(95, 106, 106);
}
